@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #2c3e50;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(44, 62, 80, 0.7);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    /* border-bottom:#3498db solid 1px ; */
}

.logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    color: #3498db;
}

.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: #3498db;
    border-bottom: 3px solid #3498db;
}

#menu-icon{
    font-size: 3.6rem;
    color: #3498db;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}


.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    font-size: 5rem;
}

.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img{
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 20px solid #3498db;
}

.home-img img{
    position: relative;
    background-color: white;
    border: 25px solid white;
    width: 22vw;
    border-radius: 50%;
    cursor: pointer;
}

.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 650px;
}


.change-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
    font-size: 3.2rem;
    font-weight: 600;
}

.change-text h3 .word .letter{
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}

.change-text h3 .word .letter.in{
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}


.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent ;
    font-size: 2.5rem;
    border: 0.2rem solid #3498db;
    border-radius: 50% ;
    color: #3498db;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover{
    background: #3498db;
    color: white;
    transform: scale(1.3)translateY(-5px);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #3498db;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    background: transparent;
    color: #3498db;
    border: 2px solid #3498db;
    transform: scale(1.05);
}
 
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: rgba(44, 62, 80, 0.7);

}

.about-circle{
    position: absolute;
    left: -150px;
    margin-top: 15rem;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background-color: #3498db;

}

.about-img{
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 20px solid #3498db;
}

.about-img img{
    position: relative;
    width: 30vw;
    border-radius: 50%;
    border: 50px solid white;
    cursor: pointer;

}

.heading{
    text-align: center;
    font-size: 8rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.5;
}

.about-content h3{
    font-size: 2.5rem ;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem ;
}

.timeline-section{
    min-height: 100vh;
    padding: 100px 15px;
    background: rgba(44, 62, 80, 0.7);
}

.timeline-section h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.timeline-items::before{
    content: " ";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #3498db;
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom:40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height:21px ;
    width: 21px ;
    background-color: #3498db;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}


.timeline-content{
    background-color: #3498db;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 30px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.timeline-content:hover{
    transform: scale(1.05);
}

.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p{
    color: white;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.skills h2{
    margin-bottom: 8rem;
}

.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box{

    flex: 1 1 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(44, 62, 80, 0.7) ;
    padding: 3rem 2rem 4rem;
    height: 500px;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid rgb(224,224,224);
    /* cursor: pointer; */
    transition: 0.4s ease;
}

.skills-container .skills-box:hover{
    border-color: #3498db;
    transform: scale(1.02);
    background-color: rgba(44, 62, 80, 0.7);
    color: #3498db;
}

.skills-box i{
    font-size: 7rem;
    margin-bottom: 2rem;
    color: #3498db;
}

.skills-box h3{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.skills-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.popup{
    position: fixed;
    top:-150%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    opacity: 0;
    background: rgba(44, 62, 80, 0.5);
    border: 2px solid #3498db;
    box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,0.05);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 450px;
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 1000;
    transition: top 0ms ease-in-out 300ms,
                opacity 300ms ease-in-out 0ms
                transform 300ms ease-in-out 0ms;
}

.popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 300ms ease-in-out 0ms,
                transform 300ms ease-in-out 0ms;
}

.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    color: #fcfcfc;
    background: #3498db;
    border-radius: 50%;
    cursor: pointer;
}

.popup .close-btn:hover{
    background: rgba(44, 62, 80, 0.5);
    /* border: #3498db solid 1px; */
    /* color: #3498db; */
    border: 2px solid #3498db;
    transform: scale(1.05);
}

.popup h1{
    font-size: 35px;
    text-align: center;
    margin: 10px 0 20px;
    color: #fff;
}

.popup p{
    color: #fcfcfc;
    font-size: 17px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

button#open-popup {
    background: transparent;
    outline: none;
    border: 2px solid #fcfcfc;
    font-size: 16px;
    color: #fcfcfc;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #3498db;
}


::-webkit-scrollbar-track{
    background-color: white;
    width: 50px;
}

/* Projects Section */
.projects {
  padding: 100px 0;
  background-color: #2c3e50;
}
  
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
  
.projects-container .box {
  width: 400px;
  background: rgba(44, 62, 80, 0.7);
  padding: 3rem 2rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 0.2rem solid rgb(224,224,224);
  transition: 0.4s ease;
}
.project-img{
    width: 300px;
    border: white solid 3px;
    border-radius: 10px;
    filter: blur(0px);
    transition: 0.4s ease; 
}

.projects-container .box:hover{
    border-color: #3498db;
    transform: scale(1.02);
    background-color: rgba(44, 62, 80, 0.7);
    color: #3498db;
    .project-img{
        border-color: #3498db;
        transform: scale(1.02);
    }
}
  
.projects-container .box h3 {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
 
.projects-container .box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
  

.contact{
    background-color: rgba(44, 62, 80, 0.7);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.contact form .input-box input,
.contact form textarea{
    width:  100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: black;
    background: #fcfcfc;
    border-radius: 0.8rem;
    border: 3px solid #3498db;
    margin: 1rem 0;
    resize: none;
}

.contact  form .btn {
    margin-top:  2rem;
}
   
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #3498db;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px ;
    color: white;
}

footer .social a{
    font-size: 25px;
    color: white;
    border: 2px solid white;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

footer .social a:hover{
    transform: scale(1.2) translateY( -10px);
    background-color: white;
    color: #3498db;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent ;
    transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid white;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;

}

@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    
    .home-circle-1{
        bottom: 20rem;
        width: 30vw;
        height: 30vw;
    }

    .home-circle-2 {
        top: 20rem;
        width: 30vw;
        height: 30vw;
    }

}



@media(max-width:895px){
    #menu-icon{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        
    }
    .navbar{
        position: absolute;
        top: 0;
        right: -10px;
        width: auto;
        padding: 1rem 1rem;
        background: rgba(44, 62, 80, 0.9);
        border-left:  2px solid #3498db;
        border-bottom:  2px solid #3498db;
        border-bottom-left-radius: 2rem;
        display: none;

    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        color: white;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover{
        color: #3498db;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-circle-1{
        width: 45vw;
        height: 45vw;
        top: 50rem;
    }

    .home-circle-1{
        width: 55vw;
        height: 55vw;
        top: 10rem;
    }

    .home-img{
        display: grid;
        border: none;
        border-radius: 50%;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-circle-1 h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
        border: 25px solid #3498db;
    }
    .about{
        flex-direction: column-reverse;

    }
    .about-circle{
        height: 52vw;
        width: 52vw;
    }
    .about-content{
        margin: 1rem 4rem;
    }
    .about-img{
        border: none;
    }

    .about img{
        width: 70vw;
        margin-top: 1rem;
        border: none;
        margin-bottom: 3rem;
        border: 25px solid #3498db;
    }

    .skills{
        flex-direction: column;
        gap: 2rem;
    }

   .skills h2{
    margin-bottom: 3rem;
   }

   .timeline-items::before{
    left: 7px;
   }

   .timeline-item:nth-child(odd){
    padding-right: 0;
   }

   .timeline-item:nth-child(odd),
   .timeline-item:nth-child(even){
    padding-left: 37px;
   }

   .timeline-dot{
    left: 0;
   }

}

